<div class="row content-container">
  <aside class="col-3 start-column profile-first-column">
    <div class="profile-card">
      <figure class="profile-pic">
        <img src="{{API.url + user.info.picture}}" alt="bill gates">
      </figure>
      <div class="profile-pic-content">
        <div class="profile-title">
          {{user.info.name}}
        </div>
        <div class="profile-subtitle">
          {{user.info.job}}
        </div>
        <div class="profile-location">
          Greater Seattle Area
        </div>
      </div>
      <div class="profile-buttons border-bottom">
        <a href="#">
          <div class="profile-button button" id="follow-button">
            Follow
          </div>
        </a>
        <a href="#">
          <div class="profile-button button" id="connect-button">
            Connect <span class="icon-circle-down" id="icon-ctrl-down"></span>
          </div>
        </a>
      </div>
      <div class="profile-connections border-bottom">
        <div class="connections border-right">
          {{user.info.connections}} <span>Connections</span>
        </div>
        <div class="followers">
          {{user.info.followers}} <span>Followers</span>
        </div>
      </div>
      <div class="profile-links border-bottom">
        <a href="#">linkedin.com/williamh..</a>
        <a href="{{user.info.website}}">{{user.info.website}}</a>
      </div>
      <div class="export-pdf border-bottom">
        <a href="#">Export page as PDF</a>
      </div>
    </div>
  </aside>
  <section class="col-6 middle-column no-padding profile-mid-column">
    <article ng-show="user.posts.length > 0" class="card-container posts-container">
      <header class="card-header border-bottom">
        <h4>POSTS</h4>
        <div class="controls">
          <ul>
            <li>
              <a href="#">
                <div class="arrow" id="posts-left">
                  <span class="icon-circle-left" ng-click="carouselLeft()"></span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="arrow" id="posts-right">
                  <span class="icon-circle-right" ng-click="carouselRight()"></span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </header>
      <div class="card-content posts-carousel">
        <ul class="no-padding posts-carousel-ul">
          <li ng-repeat="post in user.posts"class="post-item">
            <figure class="no-margin">
              <img src="{{API.url + post.cover}}" alt="">
            </figure>
            <div class="item-content">
              <h6 class="item-title">{{post.title | limitTo: 26}}{{post.title.length > 26 ? '...' : ''}}</h6>
              <p class="item-date">February 19, 2014</p>
            </div>
          </li>
        </ul>
      </div>
    </article>
    <article class="card-container background-container background-card">
      <header class="card-header border-bottom">
        <h4>BACKGROUND</h4>
      </header>
      <div class="card-content">
        <div class="background-item">
          <div class="background-title">
            <span class="icon-file-text"></span> SUMMARY
          </div>
          <div class="background-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste vitae perspiciatis, sint soluta ducimus officia necessitatibus, modi perferendis quia nulla deserunt, quibusdam repudiandae vero distinctio! Voluptatibus, distinctio, ea. Maxime, numquam.
            <br><br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dignissimos libero voluptatum et rerum qui, magnam dolore quibusdam perspiciatis laborum tempora quos enim at iure aliquid vero earum itaque nostrum.
          </div>
        </div>
        <div class="background-item" ng-if="user.experience.length > 0">
          <div class="background-title">
            <span class="icon-briefcase"></span> EXPERIENCE
          </div>
          <div class="background-content">
            <ul class="experience-list">
              <li ng-repeat="experience in user.experience">
                <p>{{experience.role}}</p>
                <p>{{experience.company}}</p>
                <p>{{experience.start_date}} - {{experience.end_date}}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="background-item" ng-if="user.education.length > 0">
          <div class="background-title">
            <span class="icon-trophy"></span> EDUCATION
          </div>
          <div class="background-content">
            <ul class="education-list">
              <li ng-repeat="education in user.education">
                <p>{{education.school}}</p>
                <p>{{education.career}}</p>
                <p>{{education.start_date}} - {{education.end_date}}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="background-item" ng-if="user.skills.length > 0">
          <div class="background-title">
            <span class="icon-book"></span> SKILLS
          </div>
          <div class="background-content">
            <ul class="skills-list">
              <li ng-repeat="skill in user.skills">
                <p>{{skill.name}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </article>
    <article class="card-container recommendations-container" ng-if="user.recommendations.length > 0">
      <header class="card-header border-bottom">
        <h4>RECOMMENDATIONS</h4>
        <div class="controls">
          <ul>
            <li>
              <a href="#">
                <div class="arrow" id="recommendations-left">
                  <span class="icon-circle-left" ng-click="recommendationsLeft()"></span>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="arrow" id="recommendations-right">
                  <span class="icon-circle-right" ng-click="recommendationsRight()"></span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </header>
      <div class="card-content">
        <div class="background-item">
          <div class="background-content">
            <ul class="recommendations-list">
              <li ng-repeat="recommendation in user.recommendations">
                <p class="recommendation">{{recommendation.recommendation}}</p>
                <div class="recommender-container">
                  <figure class="recommender-picture no-margin">
                    <img src="http://zblogged.com/wp-content/uploads/2015/11/5.png" alt="" >
                  </figure>
                  <p class="recommender-name no-margin">{{recommendation.recommender.name}}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </article>
    <article class="card-container following-container" ng-if="user.following.length > 0">
      <header class="card-header border-bottom">
        <h4>FOLLOWING</h4>
      </header>
      <div class="card-content following-card">
        <div class="background-item">
          <div class="background-content">
            <ul class="following-list">
              <li ng-repeat="following in user.following | limitTo:followingMaxItems">
                <figure class="following-logo">
                  <img src="{{API.url + following.logo}}" alt="">
                </figure>
              <p>{{following.name}}</p>
              </li>
            </ul>
            <div class="see-all-button">
              <a href="#" class="btn" ng-click="followingMaxItems=user.following.length">See All ({{user.following.length}})</a>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
  <div class="col-3 end-column profile-third-column">
    <section class="also-viewed-card">
      <div class="title">
        PEOPLE ALSO VIEWED
      </div>
      <article>
        <ul class="visitor-list" ng-repeat="visitor in user.alsoViewed | limitTo:visitorMaxItems">
          <li class="visitor-item">
            <figure class="visitor-picture">
              <img src="{{API.url + visitor.picture}}" alt="">
            </figure>
            <div class="visitor-content">
              <h4 class="visitor-title">{{visitor.name}}</h4>
              <p class="visitor-job">{{visitor.job}}</p>
            </div>
            <div class="follow-button">
              <span class="icon-plus"></span>
            </div>
          </li>
        </ul>
        <div class="visitor-see-all-button">
          <a href="#" ng-click="visitorMaxItems = user.alsoViewed.length">See All ({{user.alsoViewed.length}})</a>
        </div>
      </article>
    </section>
    <section class="influencer-card">
      <div class="title">
        MORE INFLUENCER
      </div>
      <div class="influencer-carousel">
        <a href="#" class="icon-circle-left influencer-left" ng-click="influencerLeft()"></a>
        <ul class="influencer-list">
          <li ng-repeat="influencer in user.alsoViewed | limitTo: 3"class="influencer-item">
            <figure class="influencer-image">
              <img src="{{API.url + influencer.picture}}" alt="">
            </figure>
            <div class="influencer-content">
              <p class="influencer-name">{{influencer.name}}</p>
              <p class="influencer-job">{{influencer.job}}</p>
            </div>
          </li>
        </ul>
        <a href="#" class="icon-circle-right influencer-right" ng-click="influencerRight()"></a>
      </div>
    </section>
  </div>
</div>
