<div class="row users-container">
  <div class="col-8 users-card">
    <h2 class="users-header">Users</h2>
    <ul>
      <li ng-repeat="user in users">
        <figure class="user-picture">
          <img src="https://linkedin.ihk.io/{{user.picture}}" alt="#">
        </figure>
        <div class="user-info">
          <h2 class="user-title"><a ng-href="user/{{user.id}}">{{user.name}}</a></h2>
          <p class="user-job">{{user.job}}</p>
        </div>
        <div class="follower-connections">
          <ul class="followers">
            <li class="user-number">{{user.followers}}</li>
            <li>Followers</li>
          </ul>
          <ul class="connections">
            <li class="user-number">{{user.connections}}</li>
            <li>Connections</li>
          </ul>
        </div>
        <div class="social-networks">
          <ul>
            <li>
              <a href="{{user.twitter}}"><span class="icon icon-twitter"></span></a>
            </li>
            <li>
              <a href="{{user.github}}"><span class="icon icon-github"></span></a>
            </li>
            <li>
              <a href="{{user.dribble}}"><span class="icon icon-dribbble"></span></a>
            </li>
            <li>
              <a href="{{user.website}}"><span class="icon icon-earth"></span></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
