.background-item .background-title{padding:1em 0;color:#4D5356;font-weight:500}.background-item .background-content{color:#A5A9AD}.background-card .background-content{padding:0.5em 1.5em}.experience-list,.education-list,.skills-list{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin:0;padding:0}.experience-list li,.education-list li,.skills-list li{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around}

/*# sourceMappingURL=background-card.css.map */
