@import "base.scss";

.also-viewed-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .title{
    color: $strong-gray;
    padding: 0 0 1em 0;
  }
  .visitor-see-all-button{
    text-align: center;
    padding: 0.5em;
    a{
      color: #38B7EA;
    }
  }
}

.visitor-list{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  .visitor-item{
    padding: 0.5em 0;
    display: flex;
    flex-direction: row;
    .visitor-picture{
      margin: 0;
      height: 50px;
      width: 50px;
      img{
        border-radius: 50px;
        height: 100%;
        width: 100%;
      }
    }
    .visitor-content{
      display: flex;
      flex-direction: column;
      padding: 0.3em 0.5em;
      .visitor-title{
        line-height: 1em;
        font-weight: 100;
      }
      .visitor-job{
        font-size: 0.8em;
        margin: 0;
      }
    }
    .follow-button{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span{
        font-size: 0.75em;
        border: solid 0.16em black;
        padding: 0.5em;
        border-radius: 1em;
      }
    }
  }
}
