
//background area variables
$background-title-color: #4D5356;
$background-content-color: #A5A9AD;

.background-item{
  .background-title{
    padding: 1em 0;
    color: $background-title-color;
    font-weight: 500;
  }
  .background-content{
    color: $background-content-color;
  }
}

.background-card .background-content{
  padding: 0.5em 1.5em;
}

//Experience, Education, skills and following Section css
.experience-list, .education-list, .skills-list{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  li{
    display: flex;
    justify-content: space-around;;
  }
}
