/* ==========================================================================

// Base Stylesheet - http://getbase.org
// Author: Matthew Hartman - http://www.matthewhartman.com.au/
// Version: 3.0.2 - Last Updated: May 21, 2016

========================================================================== */

@import "base/_variables";

@import "base/_mixins";
@import "base/_resets";

@import "base/_typography";
@import "base/_lists";
@import "base/_blockquotes";
@import "base/_tables";
@import "base/_code";
@import "base/_forms";
@import "base/_buttons";

@import "base/_grid";
@import "base/_animations";;
@import "base/_helpers";

@media print {
  @import "base/_print";
}

//General Vars vars
$strong-gray: #3D4347;
$light-gray: #A6A9AC;
$normal-gray: #6E7276;
$background-gray: #F5F8F9;
$border-gray: #F2F4F6;
$linkedin-blue: #5DCFF4;

//Utility Classes
.border-right{
  border-right: solid 2px $border-gray;
}

.border-bottom{
  border-bottom: solid 2px $border-gray;
}

body{
  background: $background-gray;
  min-width: 480px;
}
