@import "base.scss";

//content container
.content-container{
  padding: 2em;
  background: $background-gray;
}

.card-container{
  background: white;
  header.card-header{
    display: flex;
    h4{
      color: $strong-gray;
      font-weight: 500;
      padding: 1em 0 0.5em 1em;
      width: 50%;
      display: flex;
      justify-content: flex-start;;
    }
    .controls{
      display: flex;
      justify-content: flex-end;
      width: 50%;
      ul{
        align-items: center;
        display: flex;
        margin: 0;
        width: 10em;
        li{
          padding: 0 1em;
          .arrow{
            color: $strong-gray + 30;
            font-size: 1.5em;
            &:hover{
              color: $strong-gray;
            }
          }
        }
      }
    }
  }

  .card-content {
    margin: 1em 0;
    padding: 0 1em;
    ul{
      display: flex;
      justify-content: space-between;
      margin: 0;
    }
  }
}
