@import "base.scss";

//Header Variables
$top-bar-background: #FFFFFF;
$top-bar-nav-color: #787A7C;
$top-bar-profile-pic-width: 45px;
$top-bar-bubble-color: #41C876;
$top-bar-bell-color:  #FFA737;
$top-bar-add-user-color: #DC69E2;

//HEADER STYLES
.top-bar{
  background: $top-bar-background;
  border-bottom: solid 2px $border-gray;
  display: flex;
  .logo{
    display: flex;
    figure{
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0;
      width: 100%;
      img{
        margin: 0;
        width: 30px;
      }
    }
  }

  .search{
    display: flex;
    padding: 0;
    .search-field{
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;
      input[type="text"]{
        font-size: 0.85em;
        border-radius: 1em;
        font-weight: 100;
        width: 80%;
      }
    }
  }

  .top-bar-nav{
    align-items: center;
    display: flex;
    padding: 0px 2em;
    ul{
      display: flex;
      justify-content: space-around;
      padding: 0;
      width: 100%;
      li{
        a{
          color: $top-bar-nav-color;
          font-weight: 100;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }

  .top-bar-icon-nav{
    align-items: center;
    display: flex;
    ul{
      display: flex;
      justify-content: space-around;
      padding: 0;
      width: 100%;
      li a{
        .header-icon{
          font-size: 1.25em;
        }
        #icon-bubble{
          color: $top-bar-bubble-color;
        }

        #icon-bell{
          color: $top-bar-bell-color;
        }

        #icon-user-plus{
          color: $top-bar-add-user-color;
        }
      }
    }
  }

  .profile-pic{
    display: flex;
    margin: 0;
    figure{
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0;
      width: 100%;
      img{
        border-radius: $top-bar-profile-pic-width;
        width: $top-bar-profile-pic-width;
      }
    }
  }
}

//SECOND NAVBAR
.second-nav{
  background: $top-bar-background;
  border-bottom: solid 0.2em $border-gray;
  display: flex;
  height: 2.75em;
  ul{
    align-items: center;
    display: flex;
    margin-left: -1.5em;
    li{
      padding: 0 0.65em;
      .a-container{
        padding: 6px 1.25em;
        &.active{
          border-bottom: solid 0.2em $linkedin-blue;
          a{
            color: $strong-gray;
          }
        }
        a{
          color: $light-gray;
          font-size: 0.9em;
          font-weight: 100;
        }
      }
    }
  }
}
