@import "base.scss";

.influencer-card{
  .title{
    text-align: center;
    color: $strong-gray;
    padding: 1em;
  }
  .influencer-carousel{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    .influencer-list{
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      width: 10em;
      .influencer-item{
        .influencer-image{
          margin: 0 0 0 2em;
          height: 90px;
          width: 90px;
          img{
            border-radius: 90px;
            height: 100%;
            width: 100%;
          }
        }
        .influencer-content{
          .influencer-name{
            color: $strong-gray;
            font-size: 0.9em;
            line-height: 1em;
            margin: 0;
            padding: 0.4em 0 0 0;
            text-align: center;
          }
          .influencer-job{
            color: $normal-gray;
            font-size: 0.7em;
            line-height: 1em;
            margin: 0;
            padding: 0.4em;
            text-align: center;
          }
        }
      }
    }

    .influencer-left, .influencer-right{
      font-size: 1.5em;
      color: $normal-gray;
    }
  }
}
