// Import Base
@import "base.scss";

//Posts variables
$post-title-color: $normal-gray;
$post-date-color: $light-gray;

//POSTS CARD
.posts-container{
  .posts-carousel{
    ul{
      .post-item{
        padding: 0 0.75em;
        figure{
          height: 200px;
          width: 200px;
          img{
            height: 100%;
            width: 100%;
          }
        }
        .item-title{
          font-size: 1em;
          padding: 0.5em 0;
          color: $post-title-color;
          font-weight: 500;
          line-height: 1.25em;
        }
        .item-date{
          color: $post-date-color;
          font-size: 0.8em;
          line-height: 1em;
        }
      }
    }
  }
}
