
// Import Base
@import "base.scss";

//Vars for Profile Card
$profile-pic-width: 100px;
$profile-card-background: #FFFFFF;
$profile-card-title-color: $strong-gray;

//Profile Card
.profile-card{
  background: $profile-card-background;
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
  .profile-pic{
    display: inline-block;
    margin-top: 1em;
    text-align: center;
    height: $profile-pic-width;
    width: $profile-pic-width;
    img{
      border-radius: $profile-pic-width;
      height: 100%;
      width: 100%;
    }
  }
  .profile-pic-content{
    text-align: center;
    .profile-title{
      font-size: 1.1em;
      color: $profile-card-title-color;
    }
    .profile-subtitle{
      color: $normal-gray;
      font-size: 0.9em;
    }
    .profile-location{
      color: $light-gray;
      font-size: 0.9em;
    }
  }
  .profile-buttons{
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    .profile-button{
      border: none;
      background: #38B7EA;
      color: #DAF1FA;
      border-radius: 2em;
      width: 10em;
      margin: 0.25em 0;
    }
    #connect-button{
      background: none;
      border: solid 0.1em #38B7EA;
      color: #38B7EA;
      #icon-ctrl-down{
        font-weight: 800;
      }
    }
  }
  .profile-connections{
    color: $profile-card-title-color;
    display: flex;
    justify-content: center;
    .connections, .followers{
      display: flex;
      flex-direction: column;
      padding: 1em 0;
      width: 50%;
      span{
        color: $light-gray;
        font-weight: 200;
      }
    }
  }
  .profile-links{
    display: flex;
    flex-direction: column;
    padding: 0.25em;
    a{
      color: $light-gray;
      display: flex;
      font-weight: 100;
      padding: 0.25em 2em;
    }
  }
  .export-pdf{
    display: flex;
    padding: 1em 0.25em;
    a{
      color: $light-gray;
      display: flex;
      font-weight: 100;
      padding: 0.25em 2em;
    }
  }
}

.following-list{
  margin: 0;
  padding: 0;
  width: 100%;
  li{
    display: inline-block;
    .following-logo{
      margin: 1em;
      border: solid 0.1em #F2F4F6;
      padding: 1em;
      img{
        width: 100px;
      }
    }
    p{
      text-align: left;
      padding-left: 1em;
    }
  }
}

.see-all-button{
  text-align: center;
  padding: 2em;
  a{
    border: solid 0.15em #38B7EA;
    padding: 0.5em 2em;
    border-radius: 1em;
    color: #38B7EA;
    &:hover{
      background-color: #38B7EA;
      color: #FFF;
    }
  }
}
