@import "base.scss";

.recommendations-list{
  // display: flex;
  // flex-direction: row;
  padding: 0;
  li{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1em 0.5em;
    .recommendation{
      align-items: center;
      border: solid 0.2em #F2F4F6;
      color: $normal-gray;
      display: flex;
      font-weight: 100;
      height: 10em;
      justify-content: center;
      line-height: 1.2em;
      padding: 2em 1em;
      &:before{
        content: '';
        position: relative;
        width: 0;
        height: 0;
        border: 1em solid;
        border-color: #F2F4F6 transparent transparent #F2F4F6;
        left: -1.2em;
        top: 6em;
      }
      &:after{
        content: '';
        position: relative;
        width: 0;
        height: 0;
        border: 0.9em solid;
        left: 4.1em;
        top: 5.6em;
        border-color: #FFF transparent transparent #FFF;
        z-index: 1;
      }
    }
    .recommender-container{
      align-items: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.5em;
      .recommender-picture{
        padding: 0;
        width: 55px;
        margin: 0;
        img{
          border-radius: 55px;
          width: 100%;
        }
      }
      .recommender-name{
        margin: 0;
        padding: 0.5em;
      }
    }
  }
}
