//xsmall
@media only screen and (max-width: 480px){
  //header xsmall
  .top-bar {
    .profile-pic{
      display: none !important;
    }
    .top-bar-nav ul li a{
      font-size: 0.8em;
    }
    .logo figure img{
      width: 20px;
    }
  }
}


//small
@media only screen and (max-width: 780px){

  //header small
  .top-bar{
    .top-bar-icon-nav{
      display: none !important;
    }
    .top-bar-nav{
      width: 100%;
    }
  }

  //users small
  .users-container .users-card ul li .social-networks {
    display: none;
  }

  .users-container .users-card ul li .user-info{
    width: 11em;
  }

  //profile small
  .profile-first-column{
    width: 95% !important;
  }

  .profile-mid-column{
    margin: 1em 0;
    width: 95% !important;
  }

}


//Tablet
@media only screen and (max-width: 1060px) {

  //header tablet

  .top-bar{
    .search{
      display: none !important;
    }
    .top-bar-nav{
      padding: 0px 1em;
    }
    .top-bar-icon-nav{
      width: 30%;
    }
  }

  //listing users tablet
  .users-container{
    .users-card{
      width: 100%;
    }
    .users-card ul li{
      margin: 0.1em 0;
      .user-picture{
        height: 50px;
        width: 50px;
      }
      .user-info {
        .user-title{
          font-size: 0.9em;
        }
        .user-job{
          font-size: 0.7em;
        }
      }
      .follower-connections{
        margin: 0em 0.5em;
      }
    }
  }

  //users
  .content-container .profile-third-column{
    display: none;
  }

  .profile-first-column{
    width: 30%;
  }

  .profile-mid-column{
    width: 70%
  }
}
