// ==========================================================================
// Your Website / App Stylesheet
// ==========================================================================

// Global Variables

// Colours

// Import Base
@import "base.scss";

// Styles
body{
  background: $background-gray;
  ul{
    list-style-type: none;
  }
  a{
    text-decoration: none;
  }
}
