/* ==========================================================================

// Base Styleguide - http://getbase.org
// Author: Matthew Hartman - http://www.matthewhartman.com.au/
// Version: 3.0.2 - Last Updated: May 21, 2016

========================================================================== */

// Styleguide Variables

// Colours
$yellow:                                        #f7c824;
$black:                                         #000;
$dark-grey:                                     #2e2e2e;
$grey:                                          #555;
$light-grey:                                    #ccc;
$lighter-grey:                                  #e7eceb;
$lightest-grey:                                 #f1f1f1;
$white:                                         #fff;

// Import Base
@import "base.scss";

.header {
  background-color: $yellow;
  color: $dark-grey;
}
.list-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-menu-item {
  display: inline-block;
  margin-right: 10px;
}
.list-menu-link {
  color: $dark-grey;
  &:hover, &:focus {
    color: $black;
  }
}
.description-block {
  border-bottom: 1px solid $light-grey;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.panel-block {
  border: 1px solid $lightest-grey;;
}
.white { color: $white; }
.colour { height: 140px; }
.yellow-bg { background-color: $yellow; }
.black-bg { background-color: $black; }
.dark-grey-bg { background-color: $dark-grey; }
.grey-bg { background-color: $grey; }
.light-grey-bg { background-color: $light-grey; }
.lighter-grey-bg { background-color: $lighter-grey; }
.lightest-grey-bg { background-color: $lightest-grey; }
.white-bg { background-color: $white; }
