// users listing vars
@import "base.scss";

$user-picture-width: 80px;
$user-title-color: $strong-gray;
$user-job-color: $light-gray;

.users-header{
  color: $strong-gray;
  text-align: center;
  font-weight: 300;
}

.users-container{
  background: #F5F8F9;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 2em;
  .users-card{
    background: white;
    padding: 2em;
    ul{
      align-items: flex-end;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      padding: 0;
      li{
        align-items: center;
        display: flex;
        text-align: center;
        margin: 0.1em 0;
        .user-picture{
          display: inline-block;
          height: $user-picture-width;
          margin: 0em;
          text-align: center;
          width: $user-picture-width;
          img{
            border-radius: $user-picture-width;
            height: 100%;
            width: 100%;
          }
        }
        .user-info{
          width: 15em;
          .user-title{
            color: $user-title-color;
            font-size: 1.1em;
            margin: 0 0.5em;
            a:hover{
              text-decoration: underline;
            }
          }
          .user-job{
            color: $user-job-color;
            font-size: 0.9em;
            font-weight: 300;
            line-height: 0.5em;
            margin: 0.25em 0 1em 0;
          }
        }
        .follower-connections{
          display: flex;
          justify-content: space-around;
          margin: 1em;
          .followers,.connections{
            flex-direction: column;
            margin: 0.5em;
            padding: 0;
            li{
              color: $light-gray;
              font-size: 0.9em;
            }
            .user-number{
              color: $strong-gray;
              font-size: 1em;
              font-weight: 800;
            }
          }
        }
        .social-networks{
          ul{
            li{
              margin: 1em 0.2em;
              text-align: center;
              a{
                .icon{
                  color: $light-gray;
                  font-size: 1.25em;
                  &:hover{
                    color: $light-gray - 30;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
